# Ignore everything
*

# Ignore cache
__pycache__
*.pyc

# Ignore folders from venv
bin/
include/
lib/
pyvenv.cfg

# Ignore folders
Backup/
batch/
dev*/
Notes/

# Ignore files
.DS_Store
Thumbs.db

# Includes
!README.md
!*_cred.py
!requirements.txt
!Keyring-Help.txt
!.gitignore
